@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    
    text-align: center;
    background-color: #a68b01;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;

}

.affirmation-box {
    background-color: #fcf4ce;
    color: #2e2c27;
    padding: 1rem 3rem;
    border-radius: 0 100px 0 0;
    box-shadow: 0 0 10px rgba(43, 41, 41, 0.05)
    display inline-block;
    margin: 1rem 1rem 1rem 0;
    text-align: left;
    
}

h1 {
    font-family: 'Limelight', cursive;
    font-size: 4em;
    margin-top: 30px;
}


h2 {
    font-family: 'Limelight', cursive;
    font-size: 2.25em;
    margin-top: 30px;
}



.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

button {
    background-color: #ffd500;
    font-size: 0.8em;
    color: #1a1917;
    padding: 10px 20px;
    border: none;
    margin: 15px;
    cursor: pointer;
    border-radius: 25px;
    width: 10%;
}

button:hover {
    background-color: #dcb800;
}

#quote-container {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#quote-text {
    font-size: 1.25em;
    font-weight: 700;
    
}

#quote-source {
    margin-top: 10px;
    font-style: italic;
    
    
}

/* api information is a grid container with two columns */
.api-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    margin:1rem;
    gap: 2rem;
    font-size: 1.25em;
    color: #ffffff;
    text-align: justify;
    
}


#footer {
    margin-top: 20px;
    padding: 1rem;
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #2e2c27;
    padding: 2px 8px;
    border-radius: 15px;
}

a:hover {
    background-color: #464134;
    color: #ffffff;
}

li {
    font-size: 1em;
}